/* 
<------RESET------>
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
<------COMMON------>
*/
body{
    font-family: 'Roboto', sans-serif;
}
/* 
<------BOTTONI------>
*/
.btn{
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 20px;
}
.primary{
    color: white;
    background-color: #0061ff;
    border: #0061ff 1px solid;
}

/* 
<------HEADER------>
*/
header{
    width: 100vw;
    height: 50px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
.header-left{
    display: flex;
    align-items: center;
    padding-left: 10px; ;
}
a{
    text-decoration: none;
    color: gray;
    padding: 10px;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-right ul li{
    padding: 10px;
}
/* 
<------/HEADER------>
*/

/* 
<------MAIN------>
*/
main{
    margin-top: 70px;
}
.first-section{
    margin: 0 auto;
    padding: 0 60px;
    width: 100vw;
    height: 100vh;
    background-color: #b4d0e7;
    position: relative;
    z-index: 0;
}
 main  .first-section img{
    width: 100%;
    display: block;
}

.first-section h1{
    padding-top: 10vh;
    font-size: 90px;
    text-align: center;
}
.txt{
    padding-top: 100px;
    padding-left: 120px;
    line-height: 35px;
    width: 40%;
}
.img-jumbo{
    width: 60%;
    position: absolute;
    bottom: -70px;
    right: 0;
}
.img-jumbo img{
    width: 100%;
}
.first-section .txt i {
    font-size: 30px;
    padding: 35px;
}
