/* 
<------RESET------>
*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* 
<------COMMON------>
*/
body {
    font-family: 'Roboto', sans-serif;
}
body ul {
    list-style: none;
}
img {
    max-width: 100%;
    display: block;
}
.flex{
    display: flex;
}
h2 {
    font-size: 50px;
}
/* 
<------BOTTONI------>
*/
.btn {
    padding: 5px;
    margin: 10px 0;
}
.btn a {
    text-decoration: none;
    color: white;
}
.primary {
    color: white;
    background-color: #0061ff;
    border: #0061ff 1px solid;
}
.secondary {
    background-color: white;
    border: 1px solid gray;
}
.secondary a {
    color: gray;
}
/* 
<------HEADER------>
*/
header {
    height: 50px;
    align-content: center;
    justify-content: space-between;
    padding: 30px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
}
header ul {
    align-items: center;
}
.header-left {
    align-items: center;
    padding-left: 10px;
    ;
}
header a {
    text-decoration: none;
    color: gray;
    padding: 10px;
}
.header-right {
    align-items: center;
}
.header-right ul li {
    padding: 10px;
}
/* 
<------/HEADER------>
*/

/* 
<------MAIN------>
*/
main {
    margin: 50px auto;
}
/* 
    <------1st Section------>
*/
.first-section {
    background-color: #b4d0e7;
    z-index: 0;
    position: relative;
}
.first-section h1 {
    padding: 50px 100px;
    font-size: 70px;
    text-align: center;
}
.first-section .container .txt i {
    position: absolute;
    bottom: 0;
    left: 90px;
}
.txt {
    padding: 40px 120px;
    line-height: 35px;
    width: 40%;
}
.img-jumbo {
    width: 60%;
    position: relative;
    bottom: -80px;
    right: 60px;
}
.container{
    justify-content: center;
    align-items: center;

}
.first-section .txt i {
    font-size: 30px;
    padding: 35px;
}
/* 
    <------/1st Section------>
 */

/* 
    <------2nd Section------>
*/

.second-section {
    margin: 20px auto;
    padding: 150px;
    z-index: 0;
}
.radio-btn {
    padding-top: 30px;
    padding-left: 25px;
}
.column {
    padding: 30px;
    border: white;
}
.column-head {
    text-align: center;
}
.column-body p{
    font-weight: bold;
    padding: 5px 0;
}
.column-body  small {
    padding: 10px;
}
.column-head, .column-body {
    border: 1px solid gray;
}
.mid, .left, .right {
    width: 30%;
    flex-direction: column;
}
.column div {
    padding: 10px;
    margin: 0;
}
 hr {
    width: 20%;
    margin: 30px 0;
}
.column-body .col-list li, .check li {
    padding: 10px;
}
.column-body .check li::before {
    content: "\2713";
    color: #0061ff;
}
.column-body .btn{
    padding: 10px 30px;
    margin: 10px 30px;
}
.left .column-body .column-footer {
    padding-bottom: 50%;
}
.right .column-body .column-footer {
    padding-bottom: 30%;
}
.row-team {
    padding-top: 30px;
    padding-bottom: 40px;
}
.row-team .row-head {
    text-align: center;
    border: 1px solid gray;
    padding: 20px;
}
.row-body {
    position: relative;
}
.row-txt {
    line-height: 30px;
    padding: 30px;
    border: 1px solid gray;
}
.row-txt p {
    padding-top: 5%;
    ;
}
.row-btn {
    position: absolute;
    top: 10px;
    right: 5px;
}
.row-btn .btn a {
    color: white;
}
/* 
    <------/2nd Section------>
*/

/* 
    <------3rd Section------>
*/
.third-section {
    padding: 10px 150px;
   
}
.sec-img {
    width: 40%;
}
.sec-txt {
    padding-left: 50px;
    width: 60%;
}
.sec-txt h3 {
    font-size: 40px;
    padding-bottom: 20px;
}
.sec-txt .btn{
    padding: 15px;
}


/* 
<------/3rd Section------>
*/

/* 
<------4th Section------>
*/
.fourth-section{
    padding: 150px;
}
.fourth-section .fourth-title {  
    padding-bottom: 50px;
    font-size: 30px;
}
.container-big-col {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 60px;
}
.flexcol {
    flex-direction: column;
}
.col {
    width: calc(100% / 3 - 20px);
    padding: 30px;
    align-items: center;
}
.col-text h4 {
    margin: 20px;
    font-size: 20px;
}
.fourth-footer {
    margin: 0 auto;
    padding: 50px;
    width: 600px;

}
.fourth-footer h3 {
    font-size: 30px;
}

.fourth-footer p {
    padding-top: 50px;
}
/* 
<------/4th Section------>
*/

/* 
<------ 5th Section------>
*/
.container-logo{
    margin: 0 auto;
    justify-content: space-between;
}
.box{
    width: 40%;
    flex-wrap: wrap;
}
.logo{
    width: 50%;
    height: 50%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.logo img{
    filter: invert(1);
}
.box p{
    padding: 15px;
}
#design{
    background-color: #a2d39b;
}
#arizona{
    background-color: #61082b;
}
#florida{
    background-color: #0093ce;
}
#topps{
    background-color: #ff1c1c;
}
#designmid{
    background-color: #f5f5f5;
    padding: 100px;
}
#bicycle{
    background-color: #d5001f;
}
#hearst{
    background-color: #b4d0e7;
}
#lonplanet{
    background-color: #0d2481;
}
#clear-channel{
    background-color: #ffd830;
}
/* 
<------ /5th Section------>
*/

/* 
<------ 6th Section------>
*/

.sixth-section{
    padding: 100px;
    color: #61082b;
    background-color: #b4d0e7;
    align-items: center;
    justify-content: center;
}
.sixth-section #six-btn .btn {
    padding: 20px;
}
#six-txt{
    font-size: 30px;
    padding: 20px;
}
/* 
<------ /6th Section------>
*/

/* 
<------ 7th Section------>
*/
.seven-section h3{
    font-size: 30px;
    text-align: center;
    padding-right: 50%;
    margin: 60px 0 30px;
}
.faq{
    width: 100%;
    margin: 0 auto;
    font-size: 30px;
}
.seven-section hr{
    margin: 10px auto;
    width: 60%;
}
.faq-list{
    max-width: 30%;
    margin: 0 auto;
    padding: 15px;
    justify-content: space-between;

}
.faq-list h4{
    font-size: 15px;
}